{% extends 'bases.html' %}
{% load static %}


{% block content %}

        <div class="main-content">
            <section id="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Import Income
                            </div>

                              <div class="card-body">
                                  <form action="{% url 'importIncome' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}                                 
                                    <input name="fileToUpload" type ='file'>
                                    </input><br><br>
                    
                                    <button type="submit" class="btn btn-primary">Load Data</button>
                                    <p style="color: red">{{error}}</p>
                                </form>
                              </div>

                              <div class="card-body">
                                <p>Format columns in file as below</p>
                                <div class="table-responsive">
                                    <!--<form action="/importIncome" method="POST">-->
                                    
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Revenue</th>
                                                <th>Year</th>
                                                <th>Date Received</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0</td>
                                                <td>2019</td>
                                                <td>2019-25-12</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--<button type="submit" class="btn btn-primary" style="float: right">Import Data</button>-->
                                <!--</form>-->
                                </div>
                            </div>

                      </div>
                  </div>
              </div>
              </section>  
        </div>
        
{% endblock content %}
