{% extends 'bases.html' %}
{% load static %}


{% block content %}

        <div class="main-content">
            <section id="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Income Expenses
                            </div>

                              <div class="card-body">
                                  <form action="{% url 'importExpense' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}                                 
                                    <input name="fileToUpload" type ='file'>
                                    </input><br><br>
                    
                                    <button type="submit" class="btn btn-primary">Import Data</button>
                                    <p style="color: red">{{error}}</p>
                                </form>
                              </div>

                              <div class="card-body">
                                <p>Format columns in file as below</p>
                                <div class="table-responsive">
                                    <!--<form action="/importExpense" method="POST">-->
                                    
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>UnitCost</th>
                                                <th>Total Cost</th>
                                                <th>Expense group</th>
                                                <th>Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                    <!--<button type="submit" class="btn btn-primary" style="float: right">Import Data</button>-->
                                <!--</form>-->
                                </div>

                          </div>
                      </div>
                  </div>
              </div>
              </section>  
        </div>
        
{% endblock content %}
