{% extends 'bases.html' %}
{% load static %}


{% block content %}

        <div class="main-content">
            <section id="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h1 class="mt-4"></h1>
                                  <ol class="breadcrumb mb-4">
                                      <li class="breadcrumb-item"><a href="/prices">Predict Prices</a></li>
                                      <li class="breadcrumb-item active">{{pred}}</li>
                                  </ol>
                              </div>
                              <div class="card-body">
                                  <form action="{% url 'predictPrice' %}" method="POST" class="form-group">{% csrf_token %}                               
                                       <label for="Year">Year</label>
                                       <select name="Year" class="col-sm-5 form-control">
                                           <option>2017</option>
                                           <option>2018</option>
                                           <option>2019</option>
                                           <option>2020</option>
                                           <option>2021</option>
                                           <option>2022</option>
                                       </select><br>
                       
                                       <label for="ItemName">Item</label>
                                       <select name="ItemName" required="required" disabled class="col-sm-5 form-control"> 
                                           <option value="Coffee">Coffee</option>
                                       </select><br>
                       
                                       <label for="Type">Type</label>
                                       <select name="Type" required="required" class="col-sm-5 form-control">
                                           <option value="ROBUSTA KIBOKO">ROBUSTA KIBOKO</option>
                                           <option value="ROBUSTA FAQ">ROBUSTA FAQ</option>
                                           <option value="ARABICA PARCHMENT">ARABICA PARCHMENT</option>
                                       </select><br>
                       
                                       <button type="submit" class="btn btn-primary">Predict</button>
                                   </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </section>  
        </div>
        
{% endblock content %}
