{% extends 'bases.html' %}
{% load static %}


{% block content %}

        <div class="main-content">
            <section id="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h1 class="mt-4"></h1>
                                  <ol class="breadcrumb mb-4">
                                      <li class="breadcrumb-item"><a href="/prices">Predict Prices</a></li>
                                      <li class="breadcrumb-item active">{{pred}}</li>
                                  </ol>
                              </div>
                              <div class="card-body">
                                  <form action="{% url 'predictPrice' %}" method="POST">{% csrf_token %}                                    
                                       <label for="Year">Year</label>
                                       <select name="Year">
                                           <option>2017</option>
                                           <option>2018</option>
                                           <option>2019</option>
                                           <option>2020</option>
                                       </select><br>
                       
                                       <label for="ItemName">Item</label>
                                       <select name="ItemName" required="required">
                                           <option value=1>Beans - Retail</option>
                                           <option value=2>Beans - Wholesale</option>
                                           <option value=3>Cassava flour - Retail</option>
                                           <option value=4>Cassava flour - Wholesale</option>
                                           <option value=5>Maize - Retail</option>
                                           <option value=6>Maize - Wholesale</option>
                                           <option value=7>Maize (white) – Retail </option>
                                           <option value=8>Maize flour – Retail </option>
                                           <option value=9>Millet – Retail</option>
                                           <option value=10>Oil (vegetable) – Retail</option>
                                           <option value=11>Plantains – Retail </option>
                                           <option value=12>Plantains – Wholesale </option>
                                           <option value=13>Rice – Wholesale</option>
                                           <option value=14>Sorghum – Retail</option>
                                       </select><br>
                       
                                       <label for="District">District</label>
                                       <select name="District" required="required">
                                           <option value=1>Abim</option>
                                           <option value=2>Amudat</option>
                                           <option value=3>Busia</option>
                                           <option value=4>Gulu</option>
                                           <option value=5>Iganga</option>
                                           <option value=6>Jinja</option>
                                           <option value=7>Kaabong</option>
                                           <option value=8>Kabale</option>
                                           <option value=9>Kampala</option>
                                           <option value=10>Kotido</option>
                                           <option value=11>Kween</option>
                                           <option value=12>Kyankwanzi</option>
                                           <option value=13>Lira</option>
                                           <option value=14>Masindi</option>
                                           <option value=15>Mbale</option>
                                           <option value=16>Mbarara</option>
                                           <option value=17>Nakapiripirit</option>
                                           <option value=18>Soroti</option>
                                       </select><br>
                       
                                       <button type="submit" class="btn btn-primary">Predict</button>
                                   </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </section>  
        </div>
        
{% endblock content %}
