{% extends 'bases.html' %}
{% load static %}


{% block content %}

        <div class="main-content">
            <section id="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Predictions
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Last year's total Expense</th>
                                                <th>Predicted selling price</th>
                                                <th>Predicted Income</th>
                                                <th>Predicted Profit</th>
                                                <th>Risk</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for finance in financial_data.itertuples %}
                                                    <tr>
                                                        <td>{{finance.Year}}</td>
                                                        <td>{{finance.TotalCost}}</td>
                                                        <td>{{finance.PredictedPrices}}</td>
                                                        <td>{{ finance.Income}}</td>
                                                        <td>{{finance.Profit}}</td>
                                                        {% if finance.Profit < 0 %}
                                                            <td style="color: red;">High</td>
                                                        {% else %}
                                                            <td style="color: green;">Low</td>
                                                        {% endif %}
                                                    </tr>
                                            {%  endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                          </div>
                      </div>
                  </div>
              </div>
              </section>  
        </div>
        
{% endblock content %}
