{% extends 'bases.html' %}
{% load static %}


{% block content %}

        <div class="main-content">
            <section id="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h1 class="mt-4"></h1>
                                  <ol class="breadcrumb mb-4">
                                      <li class="breadcrumb-item"><a href="/weather">Predict Weather</a></li>
                                      <li class="breadcrumb-item active">{{pred}}</li>
                                  </ol>
                              </div>
                              <div class="card-body">
                                  <form action="{% url 'predictWeather' %}" method="POST">{% csrf_token %}                                    
                                       <label for="Year">Year</label>
                                       <select name="Year">
                                           <option>2017</option>
                                           <option>2018</option>
                                           <option>2019</option>
                                           <option>2020</option>
                                        </select></br></br>
                                        
                                       <button type="submit" class="btn btn-primary">Predict</button>
                                   </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </section>  
        </div>
        
{% endblock content %}
